@import "./vars.scss";
@import "./fonts.scss";
@import "./reset.scss";
@import "./header.scss";
@import "../components/Card/index.scss";

.body {
  background-color: white;
}

.container {
  margin: 0 auto;
  max-width: 1120px;
}
