@import "./vars.scss";
@import "./fonts.scss";
@import "./reset.scss";
@import "./componentStyles/header.scss";
@import "./componentStyles/categories.scss";
@import "./componentStyles/booksList.scss";

.body {
  background-color: white;
}

.container {
  margin: 0 auto;
  max-width: 1120px;
}

.books {
  padding-top: 46px;
  .container {
    display: flex;
    justify-content: space-between;
  }
}
