@import "./vars.scss";
@import "./fonts.scss";
@import "./reset.scss";
@import "./componentStyles/header.scss";
@import "./componentStyles/card.scss";

.body {
  background-color: white;
}

.container {
  margin: 0 auto;
  max-width: 1120px;
}
